
.example-map {
    width: 100%;
    height: 60vh;
    z-index: 0;
}


.example-overlay {
    margin-top: -1em;
    margin-left: 1em;
    font-family: sans-serif;
    font-weight: normal;
    user-select: none;
    pointer-events: none;
    position: absolute;
    width: max-content;
    background-color: white;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    padding: 5px;
    border-radius: 8px;
    border: 1px solid #cccccc;
    max-width: 16rem;
    font-size: 10px;
}

.detail-panel {
    background-color: white;
    border: 1px solid #ccc;
    z-index: 10;
    display: flex;
    flex-direction: column;
    transition: all 0.2ms;
    width: 40rem;
    gap: 5rem;
}

.map {
    display: flex;
    flex-direction: row;
}

.display-detail-btn {
    display: block;
    position: absolute;
    top: 0.5rem;
    left: 2.5rem;
    z-index: 5;
    max-width: 10rem;
    font-size: 1rem;
    border: 1px solid #ccc;
}

.close-detail-btn {
    z-index: 1000;
    position: relative;
    width: 2.5rem;
    margin-top: 10px;
    margin-bottom: 0;
}

.detail-header{
    display: flex;
    justify-content: space-around;
    padding-top: 1rem ;
    align-items: baseline;
}
